<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${category}">
    <table>

        <tr class="form-group">
            <td>
                <label th:for="name">Cheese Type</label>
                <input class="form-control" th:field="*{name}" />
                <span th:errors="*{name}" class="error"></span>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Add Cheese Type" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>